.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 30px;
  padding: 0 25px;

  background-color: #f7f7fa;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #59a2ff;
  cursor: pointer;
}

.profile {
  width: 30px;
  height: 30px;
  cursor: pointer;
}